// @import "nib"
@import "normalize"
@import "variables.styl"
@import "fonts.styl"
@import "utilities.styl"
/*
***********************
***********************
***********************
*/

*
*:after
*:before
	box-sizing border-box


	
#clienteDetalle
#inventarioDetalle
#inventarioDetalle2
#ordenDeCompraDetalle
#ordenDeVentaDetalle
#proveedorDetalle
	position absolute
	top 65%
#clienteDetalle
	left 760px
#finalizar ~ label
#aprobado ~ label
	left 160px
	position absolute
	top 30%
#inventarioDetalle
#inventarioDetalle2
	left 390px
#inventarioDetalle2
	top 0px
#ordenDeCompraDetalle
	left 200px
#proveedorDetalle
	left 0
#ordenDeVentaDetalle
	left 580px




.Aside
	width 20%
	&-item
		text-align left
	&-list
		padding 0
		width 90%
	&-listItem
		margin 0.5em 0
		a
			color gray
			font-weight 600
			&:hover
				color lightgreen 
		span
			font-size 2sem
	&-title
		color lightgray
		font-size 2em
	p
		color gray
.btn
	border none
	border-radius 0.4em
	color white
	font-weight 600
	margin 0 auto
	width 70%
	&-lg
		padding 0.7em
	&-md
		padding 0.3em
	&-sm
		padding 0
	&-green
		background linear-gradient(to bottom, lightgreen 0%, green 100%)
		&:hover
			background linear-gradient(to bottom, green 0%, lightgreen 100%)
			opacity 0.9
	&-blue
		background linear-gradient(to bottom, lightblue 0%, blue 100%)
		&:hover
			background linear-gradient(to bottom, blue 0%, lightblue 100%)
			opacity 0.9
	

		

.Container /*Container principal es el contenedor general*/
	margin 0 auto
	text-align center
	width 90%
	&-1x
		height auto
	&-index /*Container index es el contenedor para el inicio de sesion*/
	&-2x/*Container principal es el contenedor principal */
		display flex
		height 520px
		overflow hidden
	&-index
		align-items center
		height 600px
		justify-content center
	&-item
		&-left
			float left			
			text-align left
		&-right
			float right
			text-align right
	
		
	
.Content
	align-items center
	display flex
	flex-wrap wrap
	position relative
	width 80%
	&-detail
		display none
		color lightblack
		text-align left
		width 18%
		a
			color gray
			text-decoration underline
			&:hover
				color black
		p
			font-size 0.7em
	&-detailTitle
		font-size 0.8em
		margin-bottom -5px
	&-icon
		display block
		font-size 6.5em
		margin-right 0.5em
	&-item
		cursor pointer
		display inline-block
		font-weight 700
		height 100%
		text-align left
		width 20%
		p
			font-size 1.5em
			margin 1em 0 0 0
		&:nth-child(even)
			p
				margin-top 1.5em
				font-size 1em

/* Footer
   ========================================================================== */
.Footer
	background white
	color gray
	line-height 0.5em
	margin 0
	padding 0.5em
	text-align center
	
/* Forms
   ========================================================================== */
.Form
	&-inputGroup
		color gray
		margin 0.5em
		padding 0.1em
		position relative
	&-icon
	&-info
	&-inputText
	&-label
		height 3em
		font-weight 600
		text-transform uppercase
	&-labelCheck
		background gray
		color white
		font-weight 400
		font-size 0.8em
		margin-right 4em
	&-icon
	&-info
		background white
		margin 0
		padding 0.5em
	&-inputText
		border none
		border-radius 0.4em
		color black
		padding  0.1em 0 0 0.6em
		&-small
			border 0.8px solid lightgray
			border-right none
			border-radius 0.4em 0em 0em 0.4em 
			box-shadow 0px 0px 10px lightgray
			color black
			margin 0
			padding  0.1em 0 0 1em
			height 2em
		&:focus
			border none
			
	&-info
		border-right 1px solid lightgray
		border-radius 0.5em 0 0 0.5em
		margin-right -0.22em
	&-icon
		border-left 1px solid lightgray
		border-radius 0 0.5em 0.5em 0
		margin-left -0.22em
	&-messages
		background lightyellow
		color lightred
		font-weight 600
		font-size 0.8em
		margin-bottom 1em
		padding 1em
	&-select
		padding-left 0.5em
		border-radius 0.4em !important
	&-textarea
		border-radius 2em
		height 100px
		padding 1em
		resize none
		width 100%
		
.Header
	background white
	width 100%
.Login
	background black
	border-radius 0.4em
	box-shadow 0px 0px 10px rgba(0, 0, 0, 0.3)
	color white
	height 500px
	width 400px
	
.Logo-Container
	border-radius 50%

/* Menu
   ========================================================================== */
.Menu
	display flex
	flex-wrap wrap
	justify-content center
	height 70px
	position relative
	&-item
		display inline-block
	&-link
		color gray
		display block
		font-weight 600
		padding 0.5em 1em
		text-decoration none
		transition 0.5s background 
		&:hover			
			background lightgreen
			color white
	&-list
	&-logo
	&-logoUsuario
		height 70px
	&-logoImage
		top 1.5%
	&-logoDescription
		font-weight 600
		right 2%
		top 4%
		a
			color gray
	&-list
		min-width 550px
		max-width 720px
		left 10%
		width 75%
	&-list
	&-logo
	&-logoUsuario
		position absolute
	&-logo
		background lightgreen
		min-width 96px
		max-width 96px
		padding 0.5em 0 0.5em 1.3em
		left 0
		width 10%
	&-logoUsuario
		min-width 144px
		max-width 144px
		right 0
		width 15%

/* Tables
   ========================================================================== */
.Table
	margin 1em 0
	text-align left
	width 100%
	&-bordered th
	&-bordered td 
		border 1px solid #ddd
	&-striped > tbody > tr:nth-child(odd) 
		background-color lightgray
 	td
 	th
 		background white
		border-top 1px solid #ddd
		line-height 2px
		padding 10px
		vertical-align top
	td
		font-size 0.8em
		
    th
		border-bottom 2px solid lightgray
		font-size 0.9em
		text-align center
		text-transform uppercase
		vertical-align middle
	tr:first-child > td 
		border-top 0
.title
	background white
	color gray
	font-size 1.5em
	margin 0
	padding 0
	width 100%