@import "nib"
@import "normalize"
/*
***********************
***********************
***********************
*/

*
*:after
*:before
	box-sizing border-box

.Container 
	display flex
	align-items center
	justify-content center
	height 100%
	margin 0 auto
	text-align center
	width 90%

.Login
	border 1px solid red
	width 400px
	
.Logo-Container
	border-radius 50%
	