/**/
/**/
/*UTILITIES*/
/**/
/**/
.active
	background lightgreen
	color white !important
.clear
	clear both
.block
	display block !important
.hidden
	display hidden
.inline-block
	display inline-block
.left
	float left
.right
	float right
.right
	float right  
.text-left
	text-align left 
.text-right
	text-align right
.text-center
	text-align center
	

/*******Awesome Checkbox******/
.switch
	-webkit-transition background-position .5s ease
	-webkit-appearance none
	width 152px
	height 52px
	border-radius 50em
	border 1px solid #777
	background-repeat no-repeat
	background-position -101px -1px
	background-image url("../img/checkbox.png")

.switch:checked
	background-position -1px -1px
/**/
/**/
/*END UTILITIES*/
/**/
/**/
