/*Colors*/
lightblack 	 = #6C6C6A
border-left  = #242423
green 		 = #18693E
gray 		 = #9A9A9A
lightgray 	 = #CFCFCF
lightgreen 	 = #C0DB06
lightred 	 = #FF9191
lightyellow  = #FFFFCB
white 		 = #FFFFFF