@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?-tp6a66')
  src url('../fonts/icomoon.eot?#iefix-tp6a66') format('embedded-opentype'),
      url('../fonts/icomoon.woff?-tp6a66') format('woff'),
      url('../fonts/icomoon.ttf?-tp6a66') format('truetype'),
      url('../fonts/icomoon.svg?-tp6a66#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-home3
  &:before
    content "\e902"

.icon-profile
  &:before
    content "\e600"

.icon-coin-dollar
  &:before
    content "\e601"

.icon-download
  &:before
    content "\e960"

.icon-upload
  &:before
    content "\e602"

.icon-database
  &:before
    content "\e964"

.icon-user
  &:before
    content "\e603"

.icon-users
  &:before
    content "\e604"

.icon-lock
  &:before
    content "\e605"

.icon-cog
  &:before
    content "\e606"

.icon-stats-dots
  &:before
    content "\e607"

.icon-download2
  &:before
    content "\e9c5"

.icon-man
  &:before
    content "\e608"

.icon-question
  &:before
    content "\e609"

.icon-cross
  &:before
    content "\e60a"

.icon-checkmark
  &:before
    content "\e60b"

.icon-exit
  &:before
    content "\e60c"

.icon-play3
  &:before
    content "\e60d"

.icon-embed
  &:before
    content "\e60e"

.icon-google-plus2
  &:before
    content "\e60f"

.icon-facebook2
  &:before
    content "\e610"

.icon-twitter
  &:before
    content "\e611"

.icon-youtube3
  &:before
    content "\e612"

