/**/
/**/
/*UTILITIES*/
/**/
/**/
.active
	background lightgreen
	color white !important
.clear
	clear both
.block
	display block !important
.hidden
	display hidden !important
.inline-block
	display inline-block
.left
	float left
.padding
	&-1x
		padding 1em
	&-2x
		padding 2em
	&-3x
		padding 3em
	&-bottom
		padding 1em
	&-left
		padding 1em
	&-right
		padding 1em
	&-top
		padding 1em
.radius
	color white
	background lightgray
	border-radius 50%
	padding 0.25em 0.5em 
.right
	float right
.right
	float right  
.text-left
	text-align left 
.text-sm
	font-size 0.7em
.text-md
	font-size 1em
.text-lg
	font-size 1.5em
.text-right
	text-align right
.text-center
	text-align center
	

/*******Awesome Checkbox******/
.switch
	-webkit-transition background-position .5s ease
	-webkit-appearance none
	width 152px
	height 52px
	border-radius 50em
	border 1px solid #777
	background-repeat no-repeat
	background-position -101px -1px
	background-image url("../img/checkbox.png")

.switch:checked
	background-position -1px -1px
	





/**/
/**/
/**/
/* BEGIN POP UP AUTOCOMPLETE ----Global---- */
/**/
/**/
/**/
.ac_results
  padding 0px
  border 1px solid #7FB7FB
  overflow hidden
  background-color #AFD2FD
  ul
    width 100%
    list-style-position outside
    list-style none
    padding 0
    margin 0
  iframe
    display none
    display block
    position absolute
    top 0
    left 0
    z-index -1
    filter mask()
    width 3000px
    height 3000px
  li
    margin 0px
    padding 2px 5px
    cursor pointer
    display block
    width 100%
    font menu
    font-size 12px
    overflow hidden

.ac_loading
  background #AFD2FD url('img/load.gif') right center no-repeat

.ac_over
  background-color white
  color black



/**/
/**/
/**/
/* END POP UP AUTOCOMPLETE ----Global---- */
/**/
/**/
/**/




/**/
/**/
/*END UTILITIES*/
/**/
/**/